.clickable {
    cursor: pointer;
    color: blue;
}

.clickable:hover {
    text-decoration: underline;
}

#walrus {
    display: none;
}

.night-mode {
    background-color: black;
    color: white;
}
 #night-mode {
     margin-top: 10px;
 }