.column {
    float: left;
    width: 31%;
    background-color: #41521F;
    height: 500px;
    border: 2px solid #D0B17A;
    padding: 5px;
}

.picture{
    float: right;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}