
.title {
    font-size: 48px;
    color: #0D1F22;
    text-align: center;
}

body {
    background-color: #B38A58;
    margin: 0;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.box {
    width: 500px;
    float: left;
    padding: 10px;
    flex-basis: calc(50% - 40px);
}

.name {
    font-size: 32px;
    color: #0D1F22;
}
.box img {
    width: 200px;
    float: left;
}

.box ul {
    float: left;
    margin-top: 0px;
}

.box h2 {

    /*float: left;*/
}

.clear {
    clear: both;
}

@media screen and (max-width: 1200px) {
    .grid {
        flex-direction: column;
    }

}