
.title {
    font-size: 48px;
    color: #0D1F22;
    text-align: center;
}

body {
    background-color: #B38A58;
}

.column {
    flex: 50%;
    border-width: 2px;
    border-color: #264027;
    border-style: solid;
    padding: 4px;
}

.name {
    font-size: 32px;
    color: #0D1F22;
}
.column img {
    max-width: 200px;
    float: left;
}

.column ul {
    float: left;
}

.row {
    display: flex;
}