
.title {
    font-size: 48px;
    color: #0D1F22;
    text-align: center;
}

body {
    background-color: #B38A58;
}

.column {
    width: 50%;
    float: left;
    padding: 10px;
}

.name {
    font-size: 32px;
    color: #0D1F22;
}
.column img {
    max-width: 200px;
    float: left;
}

.column ul {
    float: left;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {

}